/* landing page */

nav#primary {
	z-index: 5;
    position: fixed;
    top: 50%;
    right: 16px;
    margin:0;
}

nav#primary li {
	position: relative;
	height: 20px;
}

nav#primary a {
    display: block;
    width: 20px;
    height: 20px;
    background: url('nav.svg') 4px 4px no-repeat;
}
nav#primary a:hover, nav#primary a.active {
	background: url('nav.svg') 4px -16px no-repeat;
}

#content {
	z-index: 4;
	position: relative;
}

.section-container{
	display: block;
	height: 100vh;
	width: 100%;
	overflow: auto;
}


#myVideo{
	position: absolute;
	right: 0;
	bottom: 0;
	top:0;
	right:0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-color: black; /* in case the video doesn't fit the whole page*/
	background-image: /* our video */;
	background-position: center center;
	background-size: contain;
	object-fit: cover; /*cover video background */
	z-index:-1;
	overflow: hidden;
}


#section1,
#section2,{
	overflow: hidden;
	height: 100%;
}

#section0{
  background-color: purple;
}


#section1{
  background-color: green;
}

#section2{
  background-color: red;
}

#section3{
  background-color: blue;
}


.sharing a, 
a:link,
a:active,
a:visited {
	-webkit-transition: color 0.25s ease-out;
	-moz-transition: color 0.25s ease-out;
	-o-transition: color 0.25s ease-out;
	transition: color 0.25s ease-out;
	color:#21a97e;
	outline: none;
	text-decoration:none;
}
a:hover { 
	color:#000;
}

.sharing img {
	width:30px;
	margin: 0 5px;
}

.sharing {
	text-align: center;
	padding: 15px 0;
}

.text-container {
	margin: 10%;
    height: 78%;
}

.text-border {
	border-left: solid 1px #FF6A00;    
}

.text-intro {
	font-family: 'PT Serif', serif;
	line-height: 25px;
	color: #222222;
	font-size: 14px;
	padding: 5% 10%;
	overflow: hidden;
    height: 93%;
    margin-top: 25%;
}

.info {
	font-family: 'PT Serif', serif;
	text-align: center;
	line-height: 25px;
	color: #222222;
	font-size: 14px;
	padding: 250px 10% 0 10%;
	margin: 0px;
}

.title {
	width: 500px;
    padding: 40px;
    margin:0;
}

.title h1 {
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0;
    color: #FFFFFF;
    font-size: 58px;
}

.title h2 {
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    padding: 8px 6px;
    line-height: 40px;
    font-size: 38px;
}

h3 {
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: capitalize;
    color: #222222;
    padding: 8px 6px;
    line-height: 30px;
    font-size: 20px;
}

video::-webkit-media-controls {
  display:none !important;
}

/* responsive */

@media screen and (max-width: 800px) {
    body {
    }

    .title {
	width: 320px;
    padding: 20px;
    margin:0;
	}

    .title h1 {
		font-family: 'Source Sans Pro', sans-serif;
	    font-weight: 400;
	    text-transform: capitalize;
	    color: #FFFFFF;
	    font-size: 50px;
	}

	.title h2 {
		font-family: 'Source Sans Pro', sans-serif;
	    font-weight: 300;
	    color: #FFFFFF;
	    padding: 8px 6px;
	    line-height: 35px;
	    font-size: 30px;
	}

	.text-container {
		margin: 0px 10%;
	}

	.text-intro {
		font-family: 'PT Serif', serif;
		margin-top: 10%;
		line-height: 12px;
		color: #222222;
		font-size: 10px;
		padding: 5% 10%;
		overflow: hidden;
	}

	.info {
		font-family: 'PT Serif', serif;
		text-align: center;
		line-height: 18px;
		color: #222222;
		font-size: 14px;
		padding: 45% 5% 0 5%;
		margin: 0px;
	}

	.sharing img {
		width:30px;
	}

	.sharing {
	text-align: center;
	padding: 15px 0 100px 0px;
	}


	nav#primary {
		z-index: 5;
	    position: fixed;
	    right:40%;
	    top: 90%
	}

	nav#primary li {
		position: relative;
		height: 40px;
	}

	nav#primary a {
	    display: block;
	    width: 70px;
	    height: 50px;
	    background: url('more-orange.svg') 0px no-repeat;
	}

	nav#primary a:hover, nav#primary a:active {
	    display:block;
	    width: 70px;
	    height: 50px;
	    background: url('more-orange.svg') 0px no-repeat;
	}

} 