.grid {
	background-color: lightpink;
}

.grid-item {
	background-color: yellow;
}

.grid-item--width1 { 
	width: 20%; 
	overflow: hidden;
	padding: 0 30px 30px 0;
	background-color: lightgreen;
}

.grid-item--width1 img,
.grid-item--width2 img,
.grid-item--width3 img {
	width: 100%;
}

.grid-item--width2 { 
	width: 50%; 
	padding: 0 30px 30px 0;
	background-color: lightblue;
	overflow: hidden;
}

.grid-item--width3 { 
	width: 21.7%; 
	background-color: lightyellow;
	overflow: hidden;
	padding: 0 30px 30px 0;
}


.grid-sizer { 
	width: 0.2%; 
	background-color: red;
}